* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
}



.wrapper .top-nav-wrap {
    width: 100%;
    height: 105px;
    background-color: red;
   
}

.wrapper .search-wrap {
    width: 100%;
    height: 97px;
    padding-top: 24px;
    background-color: blue;
}

.wrapper .screen-nav {
    width: 1190px;
    height:30px;
    background-color: #F40;
    margin:0 auto;
}

.wrapper .screen-box {
    width: 1190px;
    height:700px;
    background-color:chocolate;
    margin:0 auto;
}