* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
}



.wrapper .top-nav-wrap {
    width: 100%;
    height: 105px;
    /* background-color: rgb(245, 241, 241); */

}

.wrapper .top-nav-wrap .top-nav {
    width: 1190px;
    height: 35px;
    /* border: 1px solid black; */
    /* 高度0 左右自动 居中效果 */
    margin: 0 auto;
}

.wrapper .top-nav-wrap .top-nav .top-nav-l {
    float: left;
}

.wrapper .top-nav-wrap .top-nav .top-nav-r {
    float: right;
}

.wrapper .top-nav-wrap .top-nav ul li {
    float: left;
    margin-right: 7px;
}

.wrapper .top-nav-wrap .top-nav a {
    color: #c6c6c6;
    font-size: 12px;
    /*文字居中   高度是父级高度既可  */
    line-height: 35px;
    padding: 0 6px;
}

/*hover伪类 */
.wrapper .top-nav-wrap .top-nav a:hover {
    color: #f40;
}

.wrapper .top-nav-wrap .top-nav .china {
    color: #3c3c3c;
    line-height: 35px;
    font-size: 12px;
}

.wrapper .top-nav-wrap .top-nav a.login {
    color: #f40;
}

.wrapper .top-nav-wrap .top-nav .bg-pic {
    display: inline-block;
    width: 6px;
    height: 3px;
    background-size: 100% 100%;
    vertical-align: middle;
}

.wrapper .top-nav-wrap .top-nav .c-span {
    padding: 0 6px;
}

.wrapper .top-nav-wrap .top-nav .bg-pic.xsj-pic {
    background-image: url(img/xsj.png);
}

.wrapper .top-nav-wrap .top-nav .bg-pic.shopCar-pic {
    background-image: url(img/gwc.png);
    width: 12px;
    height: 12px;

}

.wrapper .top-nav-wrap .top-nav .bg-pic.like-pic {
    background-image: url(img/star.png);
    width: 12px;
    height: 12px;

}

.wrapper .top-nav-wrap .top-nav .bg-pic.web-nav-pic {
    background-image: url(img/dh.png);
    width: 8px;
    height: 8px;

}

.wrapper .search-wrap {
    width: 100%;
    height: 97px;
    padding-top: 24px;
    background-color: rgb(187, 187, 197);
}

.wrapper .screen-nav {
    width: 1190px;
    height: 30px;
    background-color: rgb(243, 156, 125);
    margin: 0 auto;
}

.wrapper .screen-box {
    width: 1190px;
    height: 700px;
    background-color: chocolate;
    margin: 0 auto;
}